
.logo2{
    background-image: url("../src/components/log2.jpg");
    background-size: cover;

}
.logo1{
    background-image: url("../src/components/log1.jpg");
   background-repeat: no-repeat;
   background-size: contain;

}
.arrow{
    width: 20vw;
    background-color: transparent;
    color: aliceblue;
}

span:hover{
    cursor: pointer;
}

.cont{
    margin-top: 30vh;
}

.rgba{
    background-color: rgba(0,0, 0, 0.4);
}

.trendingnews{
    background-color: rgb(58, 58, 58);
    
}


.black{
    background-color: rgb(17, 17, 17);
}



.news:hover,.news2:hover{
    transform: scale(1.2);
    cursor: pointer;
}


input{
    border: none;
  border-bottom: 1px solid rgb(52, 52, 52);
  width: 10vw;
}

